h1 {
    font-size: 32px;
    font-weight: bold;
}

ol {
    margin-left: 50px;
}

li {
    display: list-item;
    list-style-type: decimal;
}


li:nth-child(even) {
    background-color: gray;
}

li:nth-child(odd) {
    color: blue;
}